apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/part-of: postgres
      app: postgres
    includeTemplates: true

resources:
- postgres-serviceaccount.yaml
- postgres-rolebinding.yaml
- postgres-pvc.yaml
- postgres-deployment.yaml
- postgres-service.yaml

secretGenerator:
- name: postgres-secret
  literals:
  - POSTGRES_DB=mcp
  - POSTGRES_USER=postgres
  - POSTGRES_PASSWORD=secret